/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root
{
	 -fx-background-image: url("@../../../background2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 500;
    -fx-background-position: center center;	
}